body {
    background-color: white!important;
}

.content{
    margin-top: 100px;
}

.contenCards{
   text-align: left;
}

.characterCard{
    max-width: 300px;
    display: inline-block;
    margin: 15px;
    margin-bottom: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.625rem;
    overflow: hidden;
}

.cardHeader{
    position: relative;
    width: 300px;
    height: 300px;
}

.cardImage {
    width: 100%;
    background: rgb(32, 35, 41);
}

.cardTitle {
    width: 100%;
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    background: rgb(32, 35, 41);
    padding: 0.625rem;
}

.cardName{
    color: rgb(245, 245, 245);
    font-size: 1.625rem;
    font-weight: 400;
    font-stretch: expanded;
    margin: 0px;
}

.cardDescription{
    color: rgb(187, 187, 187);
    font-size: 0.875rem;
    margin: 0px;
}

.cardInfo{
    height: 100%;
    color: rgb(255, 152, 0);
    padding: 1.25rem;
    background: rgb(51, 51, 51);
}

.cardText {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.75rem 0px 0.375rem;
    border-bottom: 1px solid rgb(68, 68, 68);
    margin: 0 10px;
    cursor: pointer;
}

.center {
    text-align: center;
    margin-top: 100px;
}